[remote "origin"]
	tagOpt = --no-tags
	prune = true
[core]
	untrackedCache = true
	whitespace = trailing-space,space-before-tab,indent-with-non-tab,tabwidth=4
	splitIndex = true
	multiPackIndex = true
	sparseCheckout = true
	commitGraph = true
	autocrlf = true
	fsmonitor = git-watchman/query-watchman
	hooksPath = git-hooks
	fscache = true
	checkStat = minimal
[protocol]
	version = 2
[gc]
	auto = 100
	writeCommitGraph = true
[rerere]
	enabled = true
	autoupdate = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[lfs]
	batch = true
	setlockablereadonly = true
	concurrenttransfers = 15
	tustransfers = true
[index]
	threads = true
[merge]
	conflictstyle = diff3
[blame]
	coloring = highlightRecent
[fetch]
	prune = true
	pruneTags = true
[help]
	autoCorrect = 5
[pack]
	threads = 0
	useSparse = true
[push]
	default = current
[pull]
	rebase = merges
[repack]
	writeBitmaps = true
[rebase]
	autoStash = true
[feature]
	manyFiles = true
	experimental = true
