[submodule ".github/doxygen/that_style"]
	path = .github/doxygen/that_style
	url = https://github.com/ProjectBorealis/that_style.git
[submodule "UE4GitPlugin"]
	path = Plugins/UE4GitPlugin
	url = https://github.com/ProjectBorealis/UE4GitPlugin.git
	branch = pb-changes
